<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PortName" value="COM3"/>
    <!-- number to connect -->
    <add key="DialNumber" value="**"/>
    <!-- numbers to be sent after connected, should not be more than 40 characters long
      TODO: this can be very long, the dialing program should automatically break it up into serveral atdt commands 
            ended with ";"
    -->
    <add key="DialData" value=",,12,,34,,5612345678##"/>
    <add key="RetryInterval_min" value="1"/>
    <add key="MaxRetry" value="10"/>
    <!--location of log files, make sure the folder is already created-->
    <add key="ErrorLogFile" value="c:\temp\modem_log\{0:yyyy_MM_dd}.txt"/>
    <add key="DialTimeout_s" value="90"/>
    <!-- the first scheduled dial time, 
    00:00 will cause it to start now and loop forever (for testing only) -->
    <add key="Schedule1_StartTime" value="10:00"/>
    <!-- the second scheduled dial time -->
    <add key="Schedule2_StartTime" value="14:00"/>
    <!-- random delay of the start time -->
    <add key="RandomDelay_s" value="30"/>
    <!-- wait time to retry failed dials -->
    <add key="RetryInterval_min" value="1"/>
    <!-- max number of retries -->
    <add key="MaxRetry" value="3"/>
  </appSettings>
</configuration>